<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/cloudIcon1.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-containt">
            {{>header}}
            <p>This is a dynamic paragraph with title.</p>
        </div>
        {{>footer}}
    </body>

</html>