<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Comnpatible" containt="ie=edge">
        <link rel="Stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>WeatherApp</title>
    </head>

    <body>
        <footer>
            <div class="footerButtom">
                <ul class="socials">
                    <p>Weather Web Service</p>
                    <li><a href="https://www.facebook.com/arijit12x/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/arijit-pramanik-28514616b/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://github.com/iamarijit13" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:2018pgcaca30@nitjsr.ac.in" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
                <p>copyright &copy;2021 reserved. designed by <span>Arijit.</span></p>
            </div>

        </footer>
    </body>
</html>