*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(145, 143, 143);
    height: 63px;
    width: 100vw;
    padding-top: 10px;
    color: #fff;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1rem 1;
    float: right;
    width:65%;

}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color 0.4s ease;
}

.socials a:hover i{
    color: orange;
}

.footerButtom{
    background: #545454;
    width: 100vw;
    padding: 20px 100px;
    text-align: left;
    
}

.footerButtom p{
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width:50%;
}

.footerButtom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200 ;
}